
NODE_ENV=development
PORT=8000
PLATFORM=render
LOG_LEVEL=debug
VERCEL=0
RENDER=false
DATABASE_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/unitydrop
FRONTEND_URL=http://localhost:3000
JWT_ACCESS_TOKEN_SECRET_KEY=your_access_secret_here
JWT_REFRESH_TOKEN_SECRET_KEY=your_refresh_secret_here
PASSWORD_RESET_TOKEN_PRIVATE_KEY=your_private_key
JWT_SECRET=your_secret_key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SERVICE=gmail
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM_EMAIL=noreply@unitydrop.com
RECAPTCHA_SITE_KEY=your_recaptcha_site_key
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key
CACHE_TTL_MINUTES=1
DONATION_REQUEST_EXPIRY_DAYS=7
FEEDBACK_EXPIRY_DAYS=7
OTP_EXPIRY_MINUTES=2
PASSWORD_RESET_EXPIRY_MINUTES=2
ADMIN_QUOTA_LIMIT=2
